---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"); //font
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//font
body,
h1, h2, h3, h4, h5, h6,
.archive__item-title {
  font-family: 'Pretendard', sans-serif;
}

//글씨색
.em-red {
  color: #e53935;
  font-weight: 600;
}

.em-blue {
  color: #1e88e5;
}

.em-orange {
  color: #fb8c00;
}