---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Pretendard
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

// Gowun Batang
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// 전체 글씨체
body,
h1, h2, h3, h4, h5, h6,
.archive__item-title,
.page__title {
  font-family: 'Pretendard', sans-serif !important;
}

// 블로그 맨 위 제목/이름
.author__name,
.site-title {
  font-family: 'Gowun Batang', serif !important;
}


//글씨색
.em-red {
  color: #e53935;
  font-weight: 600;
}

.em-blue {
  color: #1e88e5;
}

.em-orange {
  color: #fb8c00;
}

//글씨크기
.page__content {
  font-size: 0.95rem;
}

//본문넓히기
.page__inner-wrap {
  max-width: 1600px !important;
}